@font-face {
    font-family: 'CircularTT';
    src: url('CircularTT-Bold.ttf');
}

html, body, a {
    font-family: 'CircularTT';
}

h1 {
    font-size: 80px;
    color: #29fd2e;
}
h2 {
    font-size: 30px;
    color: #29fd2e;
}

/* Top nav bar */
#topnav {
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    background: #000;
    border-radius: 0;
    text-align: center;
    z-index: 150;
}
#topnav .logo {
    width: 100%;
    display: block;
    position: absolute;
    margin: 23px 0;
}
#topnav .burger {
    z-index: 100;
    margin: 28px 20px;
    color: #fff;
}
#topnav .crumb {
    float: right;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    padding-right: 45px;
}

/* Off canvas nav */
#big-menu {
    display: none;
    height: 100%;
    width: 50%;
    float: right;
    background: #29fd2e;
    position: absolute;
    top: 0;
    right: 0;
    padding: 100px 20px;
    z-index: 50;
    text-align: right;
}

#big-menu h1,
#big-menu h1 a {
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}

/* Big top carousel or header image */
#banner {
    width: 100%;
    margin-top: 100px;
}

#banner .content {
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}
#banner .content .banner-img {
    width: 100%;
}
#banner .content .banner-text {
    width: 100%;
    margin: 10% 0 10% 0;
    text-align: center;
    position: absolute;
    top: 0;
}

/* Full width bar contains text */
.full-bar {
    width: 100%;
    padding: 70px 0;
    text-align: center;
}
.text-1 {
    background: #29fd2e;
}
.text-2 {
    background: #816c67;
}
.text-1 .bar-headline {
    color: #fff;
}
.text-1 .bar-text {
    color: #816c67;
}
.text-2 .bar-headline {
    color: #29fd2e;
}
.text-2 .bar-text {
    color: #fff;
}
.text-sm .bar-headline {
    font-size: 34px;
}
.text-sm .bar-text {
    font-size: 22px;
    line-height: 35px;
}
.full-bar.text-sm {
    padding: 50px 0;
}

.bar-headline {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 50px;
}
.bar-text {
    font-size: 30px;
    width: 100%;
    display: block;
    line-height: 45px;
    padding: 0 130px;
}

.work-pic-l img {
    width: 100%;

    float: right;
}
.work-pic-r img {
    width: 100%;

    float: left;
}


/* Full width responsive grid */
.gridbox {
    height: 50%;
    text-align: center;
}
.gridbox .content {
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.gridbox img {
    display: block;
    margin: 15px auto;
}
.gridbox-1 {
    background: url('layer-7.png') no-repeat;
    background-size: cover;
}
.gridbox-2 {
    background: url('layer-8.png') no-repeat;
    background-size: cover;
}
.gridbox-3 {
    background: url('layer-9.png') no-repeat;
    background-size: cover;
}
.gridbox-4 {
    background: url('layer-11.png') no-repeat;
    background-size: cover;
}



/* Page Specific */
.view #topnav {
    background: none;
}
.view #banner {
    margin-top: 0;
}

.work #main {
    margin-top: 100px;
}
.view #main {
    background: #fff;
}
